<ul class="navbar main-navigation">
    <li class="nav-item">
        <LinkTo class="nav-link" @route="resume">{{t "page_titles.resume"}}</LinkTo>
    </li>
    <li class="nav-item">
        <LinkTo class="nav-link" @route="portfolio">{{t "page_titles.portfolio"}}</LinkTo>
    </li>
    <li class="nav-item">
        <LinkTo class="nav-link" @route="contact">{{t "page_titles.contact"}}</LinkTo>
    </li>
</ul>
