.main-navigation {
    background-color: $blue;
    bottom: 0;
    left: 0;
    min-width: $min-viewport-width;
    padding: 0;
    position: fixed;
    right: 0;
    user-select: none; // prevent unsightly (and unhelpful) text selection in navigation menu

    ul {
        margin: 0 auto;
        max-width: 21rem;

        li {
            a {
                border-radius: .35rem;
                color: inherit;
                text-align: center;
                transition:
                    background-color .25s ease,
                    color .25s ease;
                width: 7rem;

                &.active {
                    display: none;
                }

                &:active,
                &:focus,
                &:hover {
                    background-color: rgba(255 255 255 / 25%);
                    color: inherit;
                }
            }
        }
    }

    &.alt-colors {
        ul {
            li {
                color: $white;

                a {
                    &:active,
                    &:focus,
                    &:hover {
                        background-color: rgba(255 255 255 / 25%);
                        color: inherit;
                    }
                }
            }
        }
    }
}
