[ req ]
default_bits       = 2048
distinguished_name = req_distinguished_name
req_extensions     = req_ext
[ req_distinguished_name ]
countryName                 = US
stateOrProvinceName         = Texas
localityName               = Austin
organizationName           = IDAuto
organizationalUnit         = UI
commonName                 = IDAutoUI
[ req_ext ]
subjectAltName = @alt_names
[alt_names]
DNS.1   = localhost
DNS.2   = idautocloud.com
DNS.3   = *.idautocloud.com
DNS.4   = idautoengineering.net
DNS.5   = *.idautoengineering.net
