a {
    &.icon-link {
        align-items: center;
        display: inline-flex;
        text-decoration: none;

        i {
            font-size: 1em;
        }

        &:hover {
            text-decoration: none;
        }
    }
}
