<div
    class="my-5"
    data-test-component="site-footer"
>
    <p class="text-center text-muted mb-0">
        {{t
            "chrome.copyright"
            currentYear=this.currentYear
            htmlSafe=true
        }}
    </p>
</div>
