<div class="my-5">
    <p class="text-center text-muted mb-0">
        {{t
            "chrome.copyright"
            currentYear=this.currentYear
            htmlSafe=true
        }}
    </p>
</div>
