{{page-title (t "page_titles.resume")}}

<div class="container page content-page resume-page">
    <div class="row">
        <div class="col s12">
            <div class="header">
                <h1>Kevin Paul Boucher</h1>
                <div class="row">
                    <div class="col s6">
                        <p class="flow-text">Front-End Web Developer</p>
                        <p class="flow-text">
                            <a href="/KevinBoucherResume2018.pdf" title="Download résumé as PDF">
                                <i class="material-icons">picture_as_pdf</i>
                                Download
                            </a>
                        </p>
                    </div>
                    <div class="col s6 flow-text">
                        <ul class="contact-links">
                            <li>
                                <a href="https://www.linkedin.com/in/kevinpaulboucher/" title="View LinkedIn profile">LinkedIn&nbsp;</a>
                            </li>
                            <li>
                                <a href="https://github.com/kboucher" title="View Github profile">Github&nbsp;</a>
                            </li>
                            <li>
                                <a href="http://stackoverflow.com/users/1588648/kevin-boucher" title="View StackOverflow profile">StackOverflow&nbsp;</a>
                            </li>
                            <li>
                                <a href="mailto:kevin@kevinboucher.com?subject=Résumé contact message" title="Send email">
                                    <span class="hide-on-med-and-up">Email</span>
                                    <span class="hide-on-small-only">kevin[at]kevinboucher[dot]com</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <h2>Skills set &amp; tools</h2>
                <div class="col s12 m6">
                    <h3>JavaScript</h3>
                    <ul class="bulleted">
                        <li>MVC/MVVM (Ember, Angular, React)</li>
                        <li>NodeJs</li>
                        <li>jQuery</li>
                        <li>Ajax</li>
                        <li>ES6</li>
                        <li>Unit testing (Mocha/QUnit)</li>
                    </ul>
                    <h3>HTML</h3>
                    <ul class="bulleted">
                        <li>Semantic markup</li>
                        <li>Accessibility</li>
                        <li>Web standards</li>
                        <li>HTML5</li>
                        <li>SVG</li>
                    </ul>
                    <h3>CSS</h3>
                    <ul class="bulleted">
                        <li>SASS/Less</li>
                        <li>Media-queries (responsive)</li>
                        <li>Materialize.css</li>
                        <li>Bootstrap</li>
                        <li>Stylelint</li>
                        <li>Typography</li>
                    </ul>
                </div>
                <div class="col s12 m6">
                    <h3>Server-side</h3>
                    <ul class="bulleted">
                        <li>NodeJs</li>
                        <li>HapiJs</li>
                        <li>Nginx</li>
                        <li>Bash</li>
                        <li>T-SQL (PostgreSQL/MySQL/MS SQL)</li>
                        <li>C#.NET</li>
                        <li>PHP</li>
                    </ul>
                    <h3>Tools</h3>
                    <ul class="bulleted">
                        <li>VS Code</li>
                        <li>Git</li>
                        <li>Eslint</li>
                        <li>YUIdoc</li>
                        <li>Atlassian suite (Jira, Bitbucket, Confluence, SourceTree)</li>
                        <li>Paw (HTTP client)</li>
                        <li>Navicat (DB admin)</li>
                        <li>Jenkins</li>
                        <li>Photoshop</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <h2>Experience</h2>
                    <div class="experience-listing">
                        <div class="col s12 m4">
                            <h3>Lead Software Developer</h3>
                            <p class="company-name">Identity Automation</p>
                            <p class="date-range">10/2018&ndash;present</p>
                        </div>
                        <div class="col s12 m8">
                            <p class="flow-text">Principal UI developer who is responsible for delivering and supporting an Ember-based user interface for Identity Automation’s flagship IAM product RapidIdentity.</p>
                            <ul class="bulleted">
                                <li>Develop Ember based identity and access management application user interface</li>
                                <li>Work with stakeholders and product owners to define requirements and implement development processes</li>
                                <li>Led effort to re-architect UI to implement canonical Ember development patterns</li>
                                <li>Implement front-end development processes</li>
                                <li>Mentor junior developers</li>
                                <li>Git/GitLab administration</li>
                                <li>GitLab administration</li>
                                <li>Scrum master</li>
                            </ul>
                        </div>
                    </div>
                    <div class="experience-listing">
                        <div class="col s12 m4">
                            <h3>Senior UI Developer</h3>
                            <p class="company-name">XTIVIA</p>
                            <p class="date-range">5/2017&ndash;10/2018</p>
                        </div>
                        <div class="col s12 m8">
                            <p class="flow-text">Senior UI developer focused on delivering themes and Angular/React JavaScript applications in a Liferay CMS environment.</p>
                            <ul class="bulleted">
                                <li>Liferay CMS theme development (HTML, CSS, JavaScript, Freemarker, Java)</li>
                                <li>Developed Angular based customer service management knowledge base for BCBS Alabama</li>
                                <li>Refactored, translated and enhanced JavaScript based hearing test application for Amplifon USA</li>
                                <li>Mentored junior developers</li>
                                <li>Implemented front-end development processes</li>
                                <li>Git administration</li>
                            </ul>
                        </div>
                    </div>
                    <div class="experience-listing">
                        <div class="col s12 m4">
                            <h3>Developer IV</h3>
                            <p class="company-name">Q2</p>
                            <p class="date-range">11/2013&ndash;4/2017</p>
                        </div>
                        <div class="col s12 m8">
                            <p class="flow-text">Led mobile development team for Q2 eBanking Platform and led initial development phase of Q2 SMART targeting and messaging platform.</p>
                            <ul class="bulleted">
                                <li>Led mobile development team focused on mobile presentation, user settings and device interactivity (camera, touch ID)</li>
                                <li>Led initial development of Q2 SMART marketing platform.</li>
                                <li>Single-page JavaScript apps (Ember/ember-cli, Knockout)</li>
                                <li>API development (Ember Data, Node, HapiJs)</li>
                                <li>DB development (PostgreSQL)</li>
                                <li>Git administration</li>
                                <li>Scrum master</li>
                            </ul>
                        </div>
                    </div>
                    <div class="experience-listing">
                        <div class="col s12 m4">
                            <h3>UX Designer/<wbr>Developer<wbr></h3>
                            <p class="company-name">Texas.gov</p>
                            <p class="date-range">4/2012&ndash;9/2013</p>
                        </div>
                        <div class="col s12 m8">
                            <p class="flow-text">Responsible for design &amp; development of The Official Website of the State of Texas along with design, development and maintenance of an array of web-based applications across a variety of platforms.</p>
                            <ul class="bulleted">
                                <li>Designed &amp; developed standards-compliant, HTML5, mobile-first responsive portal in SharePoint</li>
                                <li>Developed a WordPress based UX Style Guide complete with code samples and preview mode</li>
                                <li>Developed new SharePoint webparts to replace existing static HTML content on texas.gov portal</li>
                                <li>Performed front-end maintenance on applications written in Java, Grails and ASP.NET</li>
                                <li>Mentored UX interns</li>
                            </ul>
                        </div>
                    </div>
                    <div class="experience-listing">
                        <div class="col s12 m4">
                            <h3>UI Engineer</h3>
                            <p class="company-name">Incisent Technologies</p>
                            <p class="date-range">10/2009&ndash;3/2012</p>
                        </div>
                        <div class="col s12 m8">
                            <p class="flow-text">Responsible for front-end architecture, development and support of web-based automotive retail online-marketing software package.</p>
                            <ul class="bulleted">
                                <li>Hand-coded cross-browser, web-standards compliant HTML/CSS/JavaScript for ASP.NET web-forms and MVC applications</li>
                                <li>Collaborated with product management team to develop interface designs, interactivity patterns, mockups and functional prototypes</li>
                                <li>Observed and participated in numerous user-testing sessions</li>
                                <li>Performed client-side optimization (compression/sprites/best-practices)</li>
                                <li>Middle-tier and database development</li>
                            </ul>
                        </div>
                    </div>
                    <div class="experience-listing">
                        <div class="col s12 m4">
                            <h3>Web Developer</h3>
                            <p class="company-name">SolarWinds</p>
                            <p class="date-range">3/2009&ndash;9/2009</p>
                        </div>
                        <div class="col s12 m8">
                            <p class="flow-text">Contracted through Modis IT to provide web development support for SolarWinds’ corporate website.</p>
                            <ul class="bulleted">
                                <li>Hand-coded cross-browser, web-standards compliant HTML/CSS/JavaScript for ASP.NET web-forms website</li>
                                <li>Graphic production (slicing design comps)</li>
                            </ul>
                        </div>
                    </div>
                    <div class="experience-listing">
                        <div class="col s12 m4">
                            <h3>Software Engineer</h3>
                            <p class="company-name">Nets To Ladders</p>
                            <p class="date-range">10/2006&ndash;3/2009</p>
                        </div>
                        <div class="col s12 m8">
                            <p class="flow-text">Responsible for ASP.NET web forms development in Microsoft CRM based web-application. Also responsible for development of consumer facing websites and tools.</p>
                            <ul class="bulleted">
                                <li>Hand-coded cross-browser, web-standards compliant HTML/CSS/JavaScript for ASP.NET web-forms application</li>
                                <li>UI/UX design, mockups, prototyping, graphic production</li>
                                <li>Design &amp; build internal development process tools</li>
                                <li>Corporate web-site management</li>
                                <li>Middle-tier and database development</li>
                            </ul>
                        </div>
                    </div>
                    <div class="experience-listing">
                        <div class="col s12 m4">
                            <h3>Front-End Developer</h3>
                            <p class="company-name">Tipping Point</p>
                            <p class="date-range">10/2005&ndash;5/2007</p>
                        </div>
                        <div class="col s12 m8">
                            <p class="flow-text">Contracted through Modis IT to redesign and rebuild the web-based interface for Tipping Point's embedded browser-based hardware management application.</p>
                            <ul class="bulleted">
                                <li>Hand-coded cross-browser, web-standards compliant HTML/CSS/JavaScript</li>
                                <li>UI/UX design, graphic production</li>
                                <li>Usability testing</li>
                            </ul>
                        </div>
                    </div>
                    <div class="experience-listing">
                        <div class="col s12 m4">
                            <h3>Front-End Developer</h3>
                            <p class="company-name">Builder Homesite</p>
                            <p class="date-range">4/2004&ndash;9/2005</p>
                        </div>
                        <div class="col s12 m8">
                            <p class="flow-text">Initially hired as a contractor to produce the front-end code for the Envision suite of applications which led to a position as front-end developer responsible for all front-end production, maintenance and troubleshooting.</p>
                            <ul class="bulleted">
                                <li>Hand-coded web-standards compliant HTML/CSS/JavaScript</li>
                                <li>Interface design, graphic production, mockups, prototypes</li>
                                <li>Middle-tier development</li>
                            </ul>
                        </div>
                    </div>
                    <div class="experience-listing">
                        <div class="col s12 m4">
                            <h3>Web Developer</h3>
                            <p class="company-name">Lombardi Software</p>
                            <p class="date-range">6/2000&ndash;8/2002</p>
                        </div>
                        <div class="col s12 m8">
                            <p class="flow-text">Responsible for design, development and administration of Lombardi Software's corporate website, intranet and corporate web applications.</p>
                            <ul class="bulleted">
                                <li>Hand-coded cross-browser, web-standards compliant HTML/CSS/JavaScript</li>
                                <li>UI/UX design, graphic production</li>
                                <li>Intranet management</li>
                                <li>Designed &amp; built internal tools as needed (Time & Expense reporting application/Client-facing Issue-tracking system)</li>
                                <li>Middle-tier and database development</li>
                            </ul>
                        </div>
                    </div>
                    <div class="experience-listing">
                        <div class="col s12 m4">
                            <h3>Web Designer/<wbr>Developer</h3>
                            <p class="company-name">Self-employed</p>
                            <p class="date-range">7/1999&ndash;present</p>
                        </div>
                        <div class="col s12 m8">
                            <p class="flow-text">Worked with a variety of clients to develop custom web sites, applications, WordPress implementations and front-end code.</p>
                            <ul class="bulleted">
                                <li>Hand-coded cross-browser, web-standards compliant HTML/CSS/JavaScript</li>
                                <li>Front-end architecture and development</li>
                                <li>UI/UX design, graphic production</li>
                                <li>WordPress implementations</li>
                                <li>Middle-tier and database development</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p class="center flow-text">&ldquo;Well done is better than well said.&rdquo; &mdash;Benjamin Franklin</p>
</div>

